<style>
    #geral-pasageiros {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tela_passageiros {
        position: relative;
        margin-top: 130px;
    }

    #list_passengers {
        position: relative;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: 1s;

    }

    #list_passengers li {
        width: 140px;
        height: 110px;
        background-color: rgba(170, 170, 170, 0.4);
        border-radius: 15px;
        list-style: none;
        margin: 40px;
        box-shadow: 2px 2px 2px rgba(143, 143, 143, .4);
    }

    #card-vip {
        position: absolute;
        height: 170px;
        width: 310px;
        margin-left: -150px;
        margin-top: -25px;
    }

    #text-card {
        margin-top: 20px;
        margin-left: -10px;
        position: absolute;
        text-shadow: black 2px 2px 2px;
    }

    #list_passengers li:hover {
        cursor: pointer;
        font-weight: bolder;
    }

    #bg_passg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;
        transition: 1s;
    }

    @media (max-width: 930px) {
        #tela_passageiros {
            margin-top: 400px;
        }

        #list_passengers {
            position: absolute;
            left: 0px;
            margin-top: 50px;
            transition: 2s;
        }

        #bg_passg {
            display: none;
        }
    }
</style>


<img src="./bg/passengers.png" id="bg_passg">
<div id="geral-passageiros">
    {{>_navbar}}
    <div id="tela_passageiros">
        <h1>PASSAGEIROS</h1>
        <form action="/passageiros/find" method="POST">
            Pesquisar: <br> <br>
            <input type="text" name="nome" placeholder="digite o nome" required> <br><br>
            <button>buscar</button>
        </form>
        <ul id="list_passengers">
            {{#each passengers}}
            <li id="list_passengers_li">
                <div id="container"></div>
                <div id="text-card">
                    NOME: {{nome}} <br>
                    <a>CATEGORIA: {{categoria}}</a> <br>
                    CONTRATO: {{numContrato}} <br>
                    Adicionado por: {{add}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<script src="./scripts/scriptPassg.js"></script>