<style>
    #boas_vindas {
        position: absolute;
        margin-top: 100px;
        padding: 25px;
    }
</style>
<div id="boas_vindas">
    <h1>BEM VINDO</h1>
    <hr>
    <p>
    <h3>Bem vindo a uma demonstração simples de múltiplos gerenciamentos</h3>
    <h4>acesse o menu COMANDO e entre com as seguintes credenciais</h4>
    <h4>SHEPARD</h4>
    <h4>123</h4>
    </p>
</div>