<style>
    #boas_vindas {
        position: absolute;
        margin-top: 100px;
        padding: 25px;
    }
    #instru{
        text-align: justify;
    }
</style>
<div id="boas_vindas">
    <h1>BEM VINDO</h1>
    <hr>
    <p>
    <h3>Bem vindo a uma demonstração simples de múltiplos gerenciamentos</h3>
    <h4>acesse o menu COMANDO e entre com as seguintes credenciais</h4>
    <h4>login: SHEPARD</h4>
    <h5>senha: 123</h5>
    <hr>
    <div id="instru">
        01 - Depois de logar como comandante você precisa adicionar um membro da tripulação <br> <br>
        02 - Depois de criar um novo tripulante entre no menu "TRIPULANTES" <br> <br>
        03 - Agora use o nome e a senha que você criou anteriormente e logue como um novo tripulante <br> <br>
        04 - Agora você já pode adicionar um novo passageiro! <br> <br>
    </div>
    </p>
</div>