<style>
    #_navbar {
        position: absolute;
        height: 100px;
        width: 100%;
        top: 0%;
        left: 0%;
        background-color: rgb(233, 241, 243);
        color: rgb(63, 63, 63);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        box-shadow: 2px 2px 5px rgba(75, 75, 75, 0.5);
        transition: .4s;
    }

    #barlist {
        position: relative;
        list-style: none;
        border-bottom: solid 1px white;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }

    ul li {
        color: white;
        display: inline-block;
        padding: 20px;
        padding-left: 80px;
        padding-right: 80px;
        transition: .3s;
    }
    button{
        background: none;
        background-color: rgba(231, 231, 231, 0.5);
        font-size: 12pt;
        color: rgb(71, 71, 71);
        width: 150px;
        border: solid 3px rgba(255, 255, 255, 0.4);
        border-radius: 4px;
        padding: 4px;
    }

    button:hover {
        color: rgb(121, 141, 143);
        cursor: pointer;
        border: solid 1px rgb(255, 255, 255);
    }

    @media all and (max-width: 1650px) {
        ul li {
            display: inline-block;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            transition: .5s;
        }
    }

    @media all and (max-width: 930px) {
        #_navbar {
            height: 340px;
            transition: .4s;
        }

        #barlist {
            margin-top: 40px;
            padding: 0;
            font-size: 25pt;
            border: none;
            transition: .5;
        }

        ul li {
            display: flex;
            flex-direction: column;
            transition: .5s;
        }
    }

    a {
        text-decoration: none;
        text-decoration-color: currentColor;
    }
</style>
<div id="_navbar">
    <ul id="barlist">
        <li><a href="/"><button>Home</button></a></li>
        <li><a href="/comando"><button>Comando</button></a></li>
        <li><a href="/trip"><button>Tripulantes</button></a></li>
        <li><a href="/passageiros"><button>Passageiros</button></a></li>
        <li><a href="/config"><button>configurações</button></a></li>
    </ul>
</div>