<form action="/form" method="POST">
nome: <input type="text" placeholder="nome" class="p-form-text" name="nome"> <br>
senha: <input type="password" name="" id="" placeholder="SENHA" class="p-form-text"> <br>
<button>confirme</button>
</form>